/*
 * Empty Stylesheet file.
 */


.button-orange{
    -fx-background-color:  #F39C12;
}

.button-orange:hover{
    -fx-background-color:  #D68910;
}

.button-green {
    -fx-background-color:  #2ECC71; /* #609966 */
}

.button-green:hover{
    -fx-background-color: #28B463; /* #28B463 */
}

.button-red{
    -fx-background-color:  #E74C3C; /* #609966 */
}
.button-red:hover{
    -fx-background-color:  #CB4335; /* #609966 */
}

.buttonFirmo{
    -fx-background-color:  #F5B041; /* #609966 */

}

.boton-active{
    -fx-background-color:  #E0F533; /* #609966 */
}

.boton-activeN{
    -fx-background-color:  #E0F533; /* #609966 */
}



.body_menu_inicio{
    -fx-background-image: url("../image/fondo_bg2.png");
    -fx-background-size: 100%;
}


/*.boton_gen_mod{
    -fx-background-color: #969696;
    -fx-cursor: hand;
    -fx-text-fill: #0091FE;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top 15px left 20px;
    -fx-line-spacing: -4;
    -fx-text-shadow: 4px 1px 2px rgba(249, 128, 86, 1);
    -fx-padding: 0pt 0pt -140pt 0;
    -fx-text-fill: #FFF;
    -fx-font-size: 11px;
    -fx-border-width: 0px 0px 35px 0px;
    -fx-border-color: #5A5A5A;
    
}*/

.btn_menu_inicio{
    -fx-background-image: url('../image/inicio_transmision.jpg');
}
.btn_menu_inicio:hover{
/*    -fx-background-size: 70%;
    -fx-background-repeat: no-repeat;*/
}


.btn_menu_inicio_mod{
        -fx-font-size: 25px;
        -fx-background-position: bottom 40px right 5px;
        -fx-border-width: 5px 5px 40px 5px;
        -fx-border-color: #054d99;
        -fx-border-style: solid;
/*        -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.8), 30,0.0, 0.0, 0.0 );
        -fx-text-shadow: 4px 1px 2px rgba(249, 128, 86, 1); */
        -fx-padding: 0pt 0pt -170pt 0;
        -fx-text-fill: #FFF;
}

.btn_menu_inicio_mod:hover{
/*        -fx-font-size: 25px;
        -fx-background-position: bottom 40px right 5px;
        -fx-border-width: 5px 5px 40px 5px;
        -fx-border-color: #054d99;
        -fx-border-style: solid;*/
        -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.8), 30,0.0, 0.0, 0.0 );
        -fx-text-shadow: 4px 1px 2px rgba(249, 128, 86, 1);
/*        -fx-padding: 0pt 0pt -170pt 0;
        -fx-text-fill: #FFF;*/

}

.btn_menu_inicio-segui{
    -fx-background-image: url('../image/inicio-seguimiento.jpg');
    -fx-background-size: 100%;
}

.btn_menu_inicio-segui_mod{
        -fx-font-size: 25px;
        -fx-background-position: bottom 20px right 5px;
        -fx-border-width: 5px 5px 40px 5px;
        -fx-border-color: #054d99;
        -fx-border-style: solid;
        -fx-padding: 0pt 0pt -170pt 0;
        -fx-text-fill: #FFF;
}

.btn_menu_inicio-segui_mod:hover{

        -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.8), 30,0.0, 0.0, 0.0 );
        -fx-text-shadow: 4px 1px 2px rgba(249, 128, 86, 1);
}

.btn_menu_inicio-transmi{
    -fx-background-image: url('../image/inicio-reporte.jpg');
    -fx-background-size: 50%;
    -fx-background-repeat: no-repeat;
}

.btn_menu_inicio-transmi_mod{
        -fx-font-size: 25px;
        -fx-background-position: bottom 40px right 75px;
        -fx-border-width: 5px 5px 40px 5px;
        -fx-border-color: #054d99;
        -fx-border-style: solid;
        -fx-padding: 0pt 0pt -170pt 0;
        -fx-text-fill: #FFF;
}

.btn_menu_inicio-transmi_mod:hover{

        -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.8), 30,0.0, 0.0, 0.0 );
        -fx-text-shadow: 4px 1px 2px rgba(249, 128, 86, 1);
}


.body-general{
    -fx-background-image: url("../image/body_modulos.png");
    -fx-background-size: 100%;
}

