/*
 * Empty Stylesheet file.
 */


.button-orange{
    -fx-background-color:  #F39C12;
}

.button-orange:hover{
    -fx-background-color:  #D68910;
}

.button-green {
    -fx-background-color:  #2ECC71; /* #609966 */

}
.text-initializa{
    -fx-font-size:25px;
}

.button-initializa {
    -fx-background-color:  #E5E7E9; /* #609966 */
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-pref-height: 41px;
    -fx-pref-width: 350px;
    -fx-font-size:15px;
}

.button-initializa-button-add {
    -fx-background-color:  #2ECC71; /* #609966 */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 41px;
    -fx-pref-width: 44px;
    -fx-font-size:15px;
}

.button-initializa-button-delete {
    -fx-background-color:  #E74C3C; /* #609966 */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 41px;
    -fx-pref-width: 44px;
    -fx-font-size:15px;
}

.subtitulo-body{
    -fx-font-size: 24px;
    -fx-font-weight:bold;
}



.body-general{
    /*    -fx-background-image: url("../image/body_modulos.png");
        -fx-background-size: 100%;*/
}


.pane_tipo_body{
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-background-color:white;
}

.ancho-cabecera-body{
    -fx-min-width: 1855px;
    -fx-min-height: 50px;
}

.button-retroceder{
    -fx-background-color:red;
    -fx-text-fill: #ffffff;
    -fx-font-weight:bold;
    -fx-font-size: 24px;
}

.button-grabar{
    -fx-background-color:#05ff00;
    -fx-text-fill: #ffffff;
    -fx-font-weight:bold;
    -fx-text-alignment: left;
    -fx-font-size: 24px;
}

.button-continuar{
    -fx-background-color:#05ff00;
    -fx-text-fill: #ffffff;
    -fx-font-weight:bold;
    -fx-text-alignment: left;
    -fx-font-size: 24px;
}


.button-green:hover{
    -fx-background-color: #28B463; /* #28B463 */
}

.button-red{
    -fx-background-color:  #E74C3C; /* #609966 */
}
.button-red:hover{
    -fx-background-color:  #CB4335; /* #609966 */
}

.buttonFirmo{
    -fx-background-color:  #F5B041; /* #609966 */

}

.boton-active{
    -fx-background-color:  #E0F533; /* #609966 */
}

.boton-activeN{
    -fx-background-color:  #E0F533; /* #609966 */
}

.button-add{
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-pref-width: 80px;
    -fx-pref-height: 63px;
    -fx-background-position: top center ;
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 13px;
/*    -fx-text-fill: back;*/
    -fx-padding: 0 0 -90 0;
    -fx-text-alignment: center;
    -fx-background-image: url('../image/button-add_on.png');
    -fx-background-size:60px;
}
.button-add:hover{
    -fx-background-image: url('../image/button-add_on.png');
    -fx-background-size:60px;
}


.button-guardar{
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-position: top center ;
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 13px;
/*    -fx-text-fill: back;*/
    -fx-padding: 0 0 -90 0;
    -fx-text-alignment: center;
    -fx-background-image: url('../image/grabar-on.png');
    -fx-background-size:30px;
}

.button-editar{
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-position: top center ;
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 13px;
/*    -fx-text-fill: back;*/
    -fx-padding: 0 0 -90 0;
    -fx-text-alignment: center;
    -fx-background-image: url('../image/editar-on.png');
    -fx-background-size:30px;
}

.button-eliminar{
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-position: top center ;
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 13px;
/*    -fx-text-fill: back;*/
    -fx-padding: 0 0 -90 0;
    -fx-text-alignment: center;
    -fx-background-image: url('../image/ico-delete.png');
    -fx-background-size:30px;
}
.button-activar-seccion{
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-background-position: top center ;
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 13px;
/*    -fx-text-fill: back;*/
    -fx-padding: 0 0 -90 0;
    -fx-text-alignment: center;
    -fx-background-image: url('../image/seccion-add-off.png');
    -fx-background-size:40px;
}

.button-activar-seccion:hover{
    -fx-background-image: url('../image/seccion-add-on.png');
    -fx-background-size:40px;
}
