/*
 * Empty Stylesheet file.
 */
/*Button{
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-background-color: #637A92;
    -fx-font-size: 24px;
    -fx-padding: 10pt 30pt;
    -fx-cursor: hand;
}
Button:hover{
    -fx-background-color: #5173A3;
}
Button:pressed{
    -fx-background-color: #518db3;
}*/

.btn_procesar, .btn_salir, .btn_aceptar, .btn_nuevo, .btn_editar, .btn_imprimir, .btn_consultar,.btn_cancelar, .btn_firmar_digital,
.btn_historico, .btn_continuar, .btn_anterior, .btn_transmision_txrx, .btn_transmision_txrx_desactivado,
.btn_cerrar_cc, .btn_abrir_cc, .btn_grabar, .btn_terminar_sesion, .btn_backup, .btn_eliminar,
.btn_consultar_jee, .btn_anular_acta, .btn_acta_encontrada, .btn_rechazarLE, .btn_excel, .btn_saltar{
    -fx-pref-width: 73px;
    -fx-pref-height: 83px;
    -fx-background-position: top center;
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0 0 -63 0;
    -fx-text-alignment: center;
}


.btn_anterior{
    -fx-background-image: url("../imagenes/boton_anterior_off.png");
    -fx-background-repeat: no-repeat;
}

.btn_anterior:hover, .btn_anterior:focused {
    -fx-background-image: url("../imagenes/boton_anterior_on.png");
}

.btn_continuar{
    -fx-background-image: url("../imagenes/boton_continuar_off.png");
    -fx-background-repeat: no-repeat;
}

.btn_continuar:hover, .btn_continuar:focused {
    -fx-background-image: url("../imagenes/boton_continuar_on.png");
}


.btn_salir{
    -fx-background-image: url("../imagenes/boton_salirEM_main_off.png");
}

.btn_salir:hover, .btn_salir:focused {
    -fx-background-image: url("../imagenes/boton_salirEM_main_on.png");
}




.ap_bottom{
    -fx-background-color:  #77B0E5; /* #306785 */
    -fx-pref-height: 64px;
    /*-fx-pref-width:902px; */
}

.border-body{
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-background-color:white;
}


.border-titulo{
    -fx-border-width: 2 0 2 0;
    -fx-border-color: #E0F533;
}

.background-prymary{
    -fx-background-color: #001b3f; /* azul oscuro */
}

.background-secundary{
    -fx-background-color: #004788; /* azul */
}
.background-success{
    -fx-background-color: #77B0E5; /* celeste */
}

.background-white{
    -fx-background-color: white; /* azul oscuro */
}

.subtitulo-body{
    -fx-font-size: 24px;
    -fx-font-weight:bold;
}



.body-general{
    -fx-background-image: url("../imagenes/body_modulos.png");
    -fx-background-size: 100%;
}


.pane_tipo_body{
    -fx-border-width: 5px;
    -fx-border-color: white;
    -fx-background-color:white;
}

.borde-pane-black{
    -fx-border-width: 2px;
    -fx-border-color: black;
}

.ancho-cabecera-body{
    -fx-min-width: 1855px;
    -fx-min-height: 50px;
}

.button-retroceder{
    -fx-background-color:red;
    -fx-text-fill: #ffffff;
    -fx-font-weight:bold;
}

.button-grabar{
    -fx-background-color:#05ff00;
    -fx-text-fill: #ffffff;
    -fx-font-weight:bold;
    -fx-text-alignment: left;
}

.button-continuar{
    -fx-background-color:#05ff00;
    -fx-text-fill: #ffffff;
    -fx-font-weight:bold;
    -fx-text-alignment: left;
}


.button-orange{
    -fx-background-color:  #F39C12;
}

.button-orange:hover{
    -fx-background-color:  #D68910;
}

.button-green {
    -fx-background-color:  #2ECC71; /* #609966 */
}

.button-green:hover{
    -fx-background-color: #28B463; /* #28B463 */
}

.button-red{
    -fx-background-color:  #E74C3C; /* #609966 */
}
.button-red:hover{
    -fx-background-color:  #CB4335; /* #609966 */
}

.buttonFirmo{
    -fx-background-color:  #F5B041; /* #609966 */

}

.boton-active{
    -fx-background-color:  #E0F533; /* #609966 */
}

.boton-activeN{
    -fx-background-color:  #E0F533; /* #609966 */
}

.body_menu_inicio{
    -fx-background-image: url("../imagenes/fondo_bg2.png");
    -fx-background-size: 100%;
}


/*.boton_gen_mod{
    -fx-background-color: #969696;
    -fx-cursor: hand;
    -fx-text-fill: #0091FE;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top 15px left 20px;
    -fx-line-spacing: -4;
    -fx-text-shadow: 4px 1px 2px rgba(249, 128, 86, 1);
    -fx-padding: 0pt 0pt -140pt 0;
    -fx-text-fill: #FFF;
    -fx-font-size: 11px;
    -fx-border-width: 0px 0px 35px 0px;
    -fx-border-color: #5A5A5A;
    
    
}*/

.btn_menu_inicio{
    -fx-background-image: url('../imagenes/inicio_registro.jpg');
}
.btn_menu_inicio:hover{
    /*    -fx-background-size: 70%;
        -fx-background-repeat: no-repeat;*/
}




.btn_menu_inicio_mod{
    -fx-font-size: 25px;
    -fx-background-position: bottom 40px right 5px;
    -fx-border-width: 5px 5px 40px 5px;
    -fx-border-color: #054d99;
    -fx-border-style: solid;
    /*        -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.8), 30,0.0, 0.0, 0.0 );
            -fx-text-shadow: 4px 1px 2px rgba(249, 128, 86, 1);*/
    -fx-padding: 0pt 0pt -170pt 0;
    -fx-text-fill: #FFF;
}

.btn_menu_inicio_mod:hover{
    /*        -fx-font-size: 25px;
            -fx-background-position: bottom 40px right 5px;
            -fx-border-width: 5px 5px 40px 5px;
            -fx-border-color: #054d99;
            -fx-border-style: solid;*/
    -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.8), 30,0.0, 0.0, 0.0 );
    -fx-text-shadow: 4px 1px 2px rgba(249, 128, 86, 1);
    /*        -fx-padding: 0pt 0pt -170pt 0;
            -fx-text-fill: #FFF;*/

}


.btn_menu_inicio-segui{
    -fx-background-image: url('../imagenes/inicio-seguimiento.jpg');
    -fx-background-size: 100%;
}

.btn_menu_inicio-segui_mod{
        -fx-font-size: 25px;
        -fx-background-position: bottom 20px right 5px;
        -fx-border-width: 5px 5px 40px 5px;
        -fx-border-color: #054d99;
        -fx-border-style: solid;
        -fx-padding: 0pt 0pt -170pt 0;
        -fx-text-fill: #FFF;
}

.btn_menu_inicio-segui_mod:hover{

        -fx-effect: dropshadow( gaussian, rgba(255,255,255,0.8), 30,0.0, 0.0, 0.0 );
        -fx-text-shadow: 4px 1px 2px rgba(249, 128, 86, 1);
}
